@page
@model CharityOrganizations.Pages.Manage.Content.Grantees.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>تعديل</h1>

<h4>الحالة</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Grantee.Id" />
            <div class="form-group">
                <label asp-for="Grantee.Name" class="control-label"></label>
                <input asp-for="Grantee.Name" class="form-control" />
                <span asp-validation-for="Grantee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grantee.NationalId" class="control-label"></label>
                <input asp-for="Grantee.NationalId" class="form-control" />
                <span asp-validation-for="Grantee.NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grantee.Address" class="control-label"></label>
                <input asp-for="Grantee.Address" class="form-control" />
                <span asp-validation-for="Grantee.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grantee.CityId" class="control-label"></label>
                <select asp-for="Grantee.CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                <span asp-validation-for="Grantee.CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grantee.FamilySize" class="control-label"></label>
                <input asp-for="Grantee.FamilySize" class="form-control" />
                <span asp-validation-for="Grantee.FamilySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">العودة الى القائمة</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
